.verMasTardeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.movieCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
    text-align: center;
    background-color: #745555;
    border-radius: 8px;
    padding: 15px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); 
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.movieCard:hover{
    transform: translateY(-5px) scale(1.05); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
}

.moviePoster {
    width: 170px;
    height: 240px;
    border-radius: 6px;
    margin-bottom: 6px; 
}

.removeButton {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #d9534f;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .2rem;
    transition: transform .2s ease-in-out;
}

.removeButton:hover {
    color: #c9302c;
    transform: scale(1.1);
}

.removeButton svg {
    pointer-events: none; 
}

.verMasTardeSection{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    align-items: center;
}

.verMasTardeTitulo{
    font-size: 3rem;
    margin: 2rem;
}

.noMoviesMessage {
    font-size: 3rem;
    color: #666;
    text-align: center;
    margin-top: 18rem;
}

.botonVaciar{
    font-size: 1.15rem;
    margin: 2rem;
    width: fit-content;
    background-color: rgb(218, 215, 215);
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid transparent;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

.botonVaciar:hover{
    border: 2px solid rgb(41, 144, 228);
    transform: scale(1.02);
}

.memeGift{
    height: 320px;
    margin-top: 2rem;
}

@media  screen and (max-width: 800px) {

    .verMasTardeTitulo{
        font-size: 2rem;
        margin: 1rem;
    }

    .noMoviesMessage {
        font-size: 2.5rem;
        margin-top: 15rem;
    }
}

@media  screen and (max-width: 550px) {

    .movieCard {
        width: 110px; 
        border-radius: 8px;
        padding: 12px; 
    }

    .moviePoster {
        width: 90px;
        height: 140px;
        border-radius: 6px;
        margin-bottom: 6px; 
    }
    
    .verMasTardeContainer{
        gap: 30px;
        grid-template-columns: repeat(auto-fit, 110px);
    }

    .removeButton {
        margin-top: 5px;
        font-size: 10px;
        gap: 4px;
        padding: .2rem;
    }
    
    .botonVaciar{
        font-size: .7rem;
        margin: 1rem;
        padding: .6rem;
    }

    .noMoviesMessage {
        font-size: 1.6rem;
        margin-top: 12rem;
    }

    .memeGift{
        height: 250px;
        width: auto;
        margin-top: 1.5rem;
    }
}