*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  background-color:#e0c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: rubik, arial;
  width: 100%;
  position: relative;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
